<header class="header">
    <div class="header__container">
        <div class="header__logo">
            <a href="/" class="header__logo-link">Web<span>Bees</span></a>
        </div>
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item">
                    <a href="#" class="header__nav-link">ГОЛОВНА</a>
                </li>
                <li class="header__nav-item">
                    <a href="#" class="header__nav-link">ПРО НАС</a>
                </li>
                <li class="header__nav-item">
                    <a href="#" class="header__nav-link">ПОСЛУГИ</a>
                </li>
                <li class="header__nav-item">
                    <a href="#" class="header__nav-link">ПОРТФОЛІО</a>
                </li>
                <li class="header__nav-item">
                    <a href="#" class="header__nav-link">ТАРИФИ</a>
                </li>
                <li class="header__nav-item">
                    <a href="#" class="header__nav-link">КОНТАКТИ</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
